*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.footerContent{
    background-color: #8B96F8;
    width: 100%;
}

.footerContentTitle{
    font-size: 64px;
    color: #fff;
    text-align: center;
    &:hover{
        color: #000;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
    }
}

.copyright{
    text-align: center;
    font-size: 22px;
}